
.finalbox{

    display: inline-block;
}
.completebox{
    /* background-color: aqua; */
   
    float: left;
}

.container{
    border: solid 1px #eee;
    display: flex;
    /* border: 2px solid black; */
    flex-direction: row;
    /* background-color: green; */
    
    
}
.card{
    /* border:  3px solid yellow; */
    position: relative;
    max-width: 300px;
    height: 250px;
    /* background: #db1313; */
    margin: 50px 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    /* box-shadow:  0 5px 202px rgba(0,0,0,0.5); */
}
.container .card:hover{
    height: 410px;
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 490px;
    top: -60px;
    z-index: 1;
  
    /*  */
}

.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -150px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
 visibility: visible;   
 opacity: 1;
 margin-top: -58px;
 transition-delay:0.3s;
}