

.hero{
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}
.hero .contentt{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
 
  padding: 1;
}

.input[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 8px auto;
  padding: 20px 15px;
  outline: none;
  text-align: center;
  width: 200px;
  transition: 0.5s;
}

.input[type = "text"]:hover {
  width: 240px;
}

.input[type = "text"]:focus {
  width: 280px;
}

.form{
  /* background-color: red; */
  /* opacity: 0; */
  display: flex;
  flex-direction: row;
  max-width: 375px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

