
.nav{
    /* background-color: black; */
    padding: 5px 10px;
    background-color: rgb(17 24 39 / 54%);
    
     
}
.bgimg{
    z-index: 0;
    /* background-color: aqua; */

}
.logo{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
   
   
   
}
.list{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 100;
    

}


.logofonts{
    font-family: Gabriola;
    margin: auto 4px;
}
.fonts{
    font-family: Arial, Helvetica, sans-serif;
}

.bag{
    font-size: 28px;
    color: white;

}

.bag .zero{
   font-size:  12px;
   padding: 0px 4px;
   background-color: red;
}