@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.content{
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 7rem;
  
  /* background-color: red; */
  
  }
  .content h2{
  position: absolute;
  color: #fff;
  
  /* transform: translate(-0% , -0%); */
  font-size:  5em;
}
.content h2:nth-child(1)
{
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2)
{
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
  0%,100%{
    clip-path: polygon(0% 45%, 15% 44%, 38% 70%, 74% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%,  0% 100%);
  }
  50%{
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}