
.mobile-menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  top: -100vh;
  margin:  auto;
  left: 0;
  position: absolute;
  justify-content: space-between;
  /* background-color: #ffffff; */
  transition: 0.3s;
  
}
.active{
  top: 52px;
}
.dark{
  color: #000;
}
.mobile-menu li{
  padding: 1.2rem 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid #181616;
}

.mobile-nav{
  width: 100%;
  /* background-color: red; */
  margin: auto;
  /* color: white; */
   justify-items: center; 
   display: flex;
  flex-direction: column;
}


.mobile-menu-bottom{
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

